.App {
  text-align: center;
}

.nav-container {
  height: 5vw;
  width: 90vw;
  margin: 0 auto;
  margin-top: 10px;
  padding: 30px 20px;
  border-top: 1px solid black;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  padding-right: 5%;
  font-size: smaller
}

.slideshow-container {
  padding-top: 2%;
  height: 30vw;
  width: 90%;
  margin-left: 5%;
  text-align: center;
  border: solid black;
  
}