#root {
  background-color: rgba(60, 77, 49, .2);
}

.App {
  text-align: center;

}

.nav-container {
  height: 5vw;
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  padding-right: 5%;
  font-size: smaller
}

.slideshow-container {
  padding-top: 2%;
  height: 35%;
  width: 65%;
  margin-left: 5%;
  text-align: center;
}

.post-container {
margin: 10px auto;
width:80%;
background-color: whitesmoke;
border-radius:2px;
}


.individualPost{
  height: fit-content;
  display: block;
  padding: 12px;
}
.postTopBar{
  display: flex;
  align-items: center;
}
.userInfo{
  display: flex;
}

.username {
  display: flex;
  align-items: center;
  margin-left: 2%;
  padding-top: 1%;
  margin-right: 2%;

}
.profile-pic-container{
  width: 45px;
  height: 45px;
  margin-right: 2%;
  border-radius:50%; 
  overflow: hidden;
}
.profile-pic {
  object-fit: cover;
}

.postMiddleBar{
  height: 54px;
  display: flex;
  align-items: center;
  margin: 20px;
}
.react-player {
  max-width: 100%;
}
.post-description{
  font-size: 14px;
}

.commentContent{
  background-color:rgba(55, 55, 55, 0.);
}
.comment{
  background-color: rgb(255, 99, 71, .3);
  gap: 12px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(255, 255, 255, 0.2);
  padding: 10px;
}
.commentUser{
  font-size: 12px;
  align-self:flex-end;
}
.commentTimestamp {
  font-size: 12px;
  align-self:flex-end;
}

/* Named by react-collapse package */
.Collapsible__contentInner {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  background-color: whitesmoke;
  border-radius: 0px;
  border-bottom: solid rgba(60, 77, 49, .5);
}

.collapsible {
  margin: 20px;
}
.collapsible .Collapsible{
  width: 100%;
}

.newCommentForm{
  margin: 20px;
}

.footer-container {
  margin-bottom: 3px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 40%;
}

.copyright {
  font-size: 15px;
  margin-right: 10%;
  font-size: 8px;
}
